<div ng-controller="visitCtrl">
    <div class="container-fluid">
        <form class="card" novalidate ng-class="{'was-validated': wasValidated}">
            <div class="card-header">
                Добавление посещения
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Посетитель</label>
                            <input style="width: 100%" required
                                   kendo-drop-down-list
                                   k-options="visitorOpt"
                                   ng-model="model.VisitorId"
                                   >
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Дата посещения</label>
                            <input style="width: 100%" required
                                   kendo-date-picker
                                   k-format="'dd.MM.yyyy'"
                                   k-ng-model="model.VisitDate">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button class="btn btn-danger" ui-sref="app.visits">Отменить</button>
                    <button class="btn btn-primary" ng-click="save()">Добавить</button>
                </div>
            </div>
        </form>
    </div>
</div>