<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.visitors"><i class="icon-user"></i>
                    Посетители
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.visits"><i class="icon-list"></i>
                    Посещения
                </a>
            </li>
        </ul>
    </nav>
</div>
