<div class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card-group mb-0">
                    <div class="card p-4">
                        <form class="card-body" novalidate
                              ng-class="{'was-validated': wasValidated}"
                              ng-controller="loginCtrl" ng-submit="login($event)">
                            <h1>Вход в систему</h1>
                            <p class="text-muted">Введите логин и пароль</p>
                            <div class="input-group mb-3">
                                <span class="input-group-addon"><i class="icon-user"></i>
                                </span>
                                <input type="text" class="form-control" placeholder="Логин"
                                       ng-model="model.login" required>
                            </div>
                            <div class="input-group mb-4">
                                <span class="input-group-addon"><i class="icon-lock"></i>
                                </span>
                                <input type="password" class="form-control" placeholder="Пароль"
                                       ng-model="model.pass" required>
                            </div>
                            <div class="alert alert-danger alert-dismissible fade show" role="alert"
                                 ng-show="loginInvalid">
                                <button type="button" class="close" ng-click="loginInvalid=false">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                Невеный логин или пароль
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <button type="submit" class="btn btn-primary px-4">Войти
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
