<div ng-controller="visitorCtrl">
    <div class="container-fluid">
        <form class="card" novalidate ng-class="{'was-validated': wasValidated}">
            <div class="card-header">
                {{model.Name + ' ' + model.Surname}}
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{'validation': valErrs.Name}">
                            <label for="name">Имя</label>
                            <input type="text" id="name" class="form-control" placeholder="Имя" ng-model="model.Name" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Пол</label>
                            <select style="width: 100%"
                                    kendo-drop-down-list
                                    k-data-text-field="'text'"
                                    k-value-field="'value'"
                                    ng-model="model.Sex">
                                <option value="0">Мужчина</option>
                                <option value="1">Женщина</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="surname">Фамилия</label>
                            <input type="text" id="surname" placeholder="Фамилия" class="form-control" ng-model="model.Surname" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Дата рождения</label>
                            <input style="width: 100%" required
                                   kendo-date-picker
                                   k-format="'dd.MM.yyyy'"
                                   k-ng-model="model.Birthdate">
                        </div>
                    </div>
                </div>
                <div class="from-group">
                    <lable>Активный</lable>
                    <label class="switch switch-3d switch-primary">
                        <input type="checkbox" class="switch-input" ng-model="model.IsActive">
                        <span class="switch-label"></span>
                        <span class="switch-handle"></span>
                    </label>
                </div>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button class="btn btn-danger" ui-sref="app.visitors">Отменить</button>
                    <button class="btn btn-primary" ng-click="save()">Сохранить</button>
                </div>
            </div>
        </form>
    </div>
</div>