<div class="card" ng-controller="visitorsCtrl">
    <div class="card-body">
        <div class="input-group">
            <input class="form-control" placeholder="имя или фамилия" ng-model="filter.term" ng-change="search($event, false)">
            <span class="input-group-addon btn" ng-click="search($event, true)">
                <i class="icon-close"></i>
            </span>
        </div>
        <br>
        <button type="button" class="btn btn-primary" ui-sref="app.visitorDetails({id: 'new'})">
            Добавить пользователя
        </button>
        <br><br>
        <table class="table table-bordered table-hover table-responsive">
            <thead>
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Пол</th>
                <th>Активный</th>
            </tr>
            </thead>
            <tbody>
            <tr style="cursor: pointer" ng-repeat="item in list track by item.Id" ng-click="toDetails(item.Id)">
                <td>{{item.Name}}</td>
                <td>{{item.Surname}}</td>
                <td>{{item.Sex === 0 ? "Мужчина" : "Женщина"}}</td>
                <td>
                    <i ng-show="item.IsActive" class="text-success icon-check"></i>
                    <i ng-show="!item.IsActive" class="text-danger icon-close"></i>
                </td>
            </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li class="page-item"
                    ng-click="changePage($event, 1)">
                    <a class="page-link" href="#"><<</a>
                </li>
                <li class="page-item"
                    ng-show="page > 1"
                    ng-click="changePage($event, page - 1)">
                    <a class="page-link" href="#"><</a>
                </li>
                <li class="page-item"
                    ng-repeat="i in pages(pageCount) track by $index"
                    ng-show="(page) === $index || (page - 1) === $index || (page - 2) === $index"
                    ng-class="{active: page === ($index + 1)}"
                    ng-click="changePage($event, $index + 1)">
                    <a class="page-link" href="#">{{$index + 1}}</a>
                </li>
                <li class="page-item"
                    ng-show="page < pageCount"
                    ng-click="changePage($event, page + 1)">
                    <a class="page-link" href="#">></a>
                </li>
                <li class="page-item"
                    ng-click="changePage($event, pageCount)">
                    <a class="page-link" href="#">>></a>
                </li>
                <li class="page-item">
                    &nbsp;
                </li>
                <li class="page-item">
                    <select class="form-control" ng-model="perPage" ng-change="perPageChange($event)">
                        <option>5</option>
                        <option>10</option>
                        <option>15</option>
                        <option>25</option>
                        <option>40</option>
                    </select>
                </li>
            </ul>
        </nav>
    </div>
</div>